nav{
    background-color:#F0811A;
}
.modif{
    text-decoration:none;
    color:white;
    margin-bottom:3px;
    font-size:12px;
}
.user{
    margin-left: 1090px;
}
svg{
    margin-left:2px;   
}
.grande{
    display:flex;
    align-items:flex-start
}
.event{
    bottom:3px;
}
h1{
    display:flex;
    font-size:18px;
    align-items:flex-start;
}
.container{
    width: auto;
    height: auto;
    background-color: gray;
}
.cont{
    position: absolute;
    top: 500px;
    left: 1190px;
}
.avis{
    text-decoration: none;
    color:black;
    
}
